{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"printWidth": 80,
	"keywordSpacing": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"trailingComma": "es5",
	"jsxSingleQuote": false,
	"useTabs": true
}
