/* styles.css */
.tap--navi {
	display: flex;
	position: fixed;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	bottom: 0;
	max-height: 96px;
	height: 96px;
	max-width: 775px;
	background-color: #ffffff;
}

.tap--navi button {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: space-evenly;
	padding: 0% 0% 0% 0%;
	margin: 0% 0% 0% 0%;
	width: 107px;
	max-height: 96px;

	background: none;
	border: none;

	font-family: Gmarket Sans TTF;
	font-size: 20px;
	color: #767676;
	font-weight: 900;
	line-height: 28px;
	padding: auto;
	word-break: keep-all;
}

.tap--navi img {
	min-width: 48px;
	width: 48px;
	max-height: 48px;
	margin: auto;
	padding: auto;

	justify-content: center;
	align-items: center;
	margin: auto;
	padding: auto;
}
